

#container {margin: 0 8% 0 8%}
#moreInfo {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@font-face{ 
	font-family: 'OpenSans';
	src: url('fonts/CarroisGothic-Regular.ttf');
}
@font-face{ 
	font-family: 'OpenSans-Bold';
	src: url('fonts/OpenSans-Bold.ttf');
}
@font-face{ 
	font-family: 'Roman';
	src: url('fonts/lmroman-regular.otf');
}

h1 {font-family: 'Roman'; font-size: 48px; font-weight: bold; border-top: 10px solid #DEE0DF; border-bottom: 1px solid black;}
h2 {font-family: 'Roman'; font-size: 24px;}
h3 {font-family: 'Roman'; font-size: 22px;}
h4 {font-family: 'Roman'; font-size: 18px;}
h5 {font-family: 'Roman'; font-size: 14px;}


body {line-height: 1.1; font-family:'OpenSans';}
p.source {font-family: 'Roman'; font-style: italic;}

.row {padding: 0px; margin: 0px;}
.mapIntro {padding-left: 10px; padding-right: 10px; margin: 0px; font-size: 12px;}
.noSpace {padding:0px; margin:0px;}
button {border-width: 1px; border-color: #666;}
.tabs{position: absolute; right: 0px; bottom: 0px;}
.tab {
  position: relative;
  float: right;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  background-color: white;
}
.tab:visited {background-color: #FECC5C;}
.total {background-color: #FECC5C; color: white;}
.fatal {background-color: #BD0026; color: white;}

.chartSource {
    margin-top: 15px;
    margin-left: 10px;
}


ul {list-style: none;}
.timeline {
  padding: 5px 10px 5px 10px;
}
.timeline:hover{background-color: #DEE0DF;}
.link {font-family: 'Roman'; font-size: 16px; font-weight: bold; color: black; padding-left: 3px;}
.year {
	font-family: 'Roman';
        font-size: 18px;
	/*color: #666;*/
        font-weight: bold;
}
.show {display: block;}
/*.hide {display: none;}*/
.mapIntro {
  position: relative;
  vertical-align: baseline;
}

@media handheld {
  #hideTable {
    display: none;
    visibility: hidden;
  }
}

th {font-family: 'OpenSans'; font-weight: bold; border-bottom: 1px solid black; border-top: 1px solid black; padding: 0px; margin: 2px;}
td {padding-left: 3px;}


